*{
    margin: 0; /*resetea los margenes por defecto que tienen los elementos html*/
    padding: 0; /*resetea el padding (margen interno) de los elementos html*/
}
html,body{
    /*background-image: url(../img/fondo.jpg); Imagen de fondo*/
    font-family: 'Open Sans', sans-serif; /*Tipo de fuente*/
    box-sizing:border-box;
    font-size: 16px;
}
footer {
    width: 100%;
    background-color: #222;
}
#lblCartCount {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}
/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li.iconos {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;

}
.social-circle li.iconos i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li.iconos a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.flecha{
    position:fixed;
    right:10px;
    bottom:20px;
    padding: 10px;
}
section{
    width: 80%; /*ancho expresado en porcentaje*/
    margin: auto; /*la propiedad margin con el valor auto, centra verticalmente*/
    z-index: 1;
}

.titulo {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.producto{
    text-align: center;
    padding: 1rem;
    background: #ffffff;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.producto img{
    width: 180px;
    height: 180px;
    margin-bottom: 1rem;
}
.producto .nombre {
    font-size: 1rem;
}

.producto .marca {
    font-size: .8rem;
    color: #808080;
    padding: 10px;
}

.producto .precio {
    font-size: 1.5rem;
}

.producto .btn{
    display: inline-block;
    margin-top: .5rem;
    text-decoration: none;
    padding: 0.4rem 1rem;
    background-color: #8cc129;
    color: #fff;
    transition: background-color 0.4s ease 0;
}
.producto .btn:hover{
    background-color:#aad677;
}
@media screen and (min-width:30em){
    .producto{
        width: 45%;
        float: left;
        margin: 1em 2.5%;
    }
}
@media screen and (min-width:60em){
    .producto{
        width: 30%;
        margin: 1em 1.5%;
    }
}