html {

    min-height: 100%;
}

body {
    background: #ffffff;
}


/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #222;
}